body {
    background-color: #d7e8ea;
    /* display: flex;
    flex-wrap:wrap; */
}
h1{color: #004669;
    display:inline;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 7px; 
}

.vimep{color:#D4A63E;display:inline;}